.header-logo{
  font-family:"Osaka";
  font-size:30px;
  padding-top:20px;
  padding-left: 15px;
}
.leopard img{
  width: 100vw;
}
textarea{
  hight:700px
  font-size:20px;
}
.sub-header{
  margin-left:100px;
  
}
.header{
  border-bottom:solid 2px;
}
.sub{
  font-size:12px;
  font-family:"游明朝";
}
